#cards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 30%;
    margin: 0 auto;
    gap: 1rem;
}

.card_img img{
    width: 100%;
    display: block;
}

.card_text{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1vw;
}